# Configuracion general
SECRET_KEY=
DEBUG=
DJANGO_SETTINGS_MODULE=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

# Base de datos
DATABASE_URL=

# Integraciones externas
RIOT_API_KEY=
STEAM_API_KEY=

# Archivos y correo
MEDIA_ROOT=
DEFAULT_FROM_EMAIL=
