{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4 admin-control-page">
    <div class="row">
        <div class="col-md-12">
            <h2>Panel de Control - Administrador</h2>
            <hr class="admin-control-page__separator">
            
            <div class="card bg-dark text-white p-4 mt-3 admin-control-page__card">
                <h4>Zona Exclusiva del Jefe</h4>
                <p>Bienvenido al núcleo de gestión de torneos de LeBrum. Desde aquí podrás administrar usuarios, configuraciones y llaves de torneos.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}